<div class="container single_user">
    <div class="row">
        <h4 class="text-light">Profile</h4>
    </div>
    <!-- user profile information  -->
    <div class="col-sm-12 single_user-personalInfo">
       <div class="single_user-details">
        <img src="../../../../assets/images/africanMan1.png" alt="">
        <div class="div single_user-identity">
            <h4>Daniel Maina</h4>
            <p>mainadanielwachira@gmail.com</p>
        </div>
       </div>
    </div>
    <!-- end of user information  -->

    <!-- users album information  -->
    <div class="row" style="margin-top: 2rem;margin-bottom:2rem;">
        <h4 class="text-light">Albums</h4>
    </div>
    <div class="row user-album">

        <!-- albums table   -->
        <table class="table table-resposive">
            <thead>
                <tr>
                    <th class="text-muted">Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- album loop begin here  -->
                <tr>
                    <td class="text-light">Serrengeti visit</td>
                    <td>
                        <button class="btn" routerLink="/profile/singlealbum">Open</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-light">MasaiMara visit</td>
                    <td>
                        <button class="btn">Open</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-light">MasaiMara visit</td>
                    <td>
                        <button class="btn">Open</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-light">MasaiMara visit</td>
                    <td>
                        <button class="btn">Open</button>
                    </td>
                </tr>

                <!-- end of the albums loop -->
                
            </tbody>
        </table>
        <!-- end of albums table -->
    </div>
    <!-- end of the album infomation  -->
</div>