<div class="container login">
  <div class="row login-card">
    <div class="col-md-8 login-card__left">
      
      <form action="">
        <h3>Hi, Welcome <img src="https://img.icons8.com/emoji/512/waving-hand-emoji.png" alt=""></h3>
        <div class="username">
          
          <input type="text" class="login__input" placeholder="username" />
        </div>
        <div class="username">
          
          <input type="password" class="login__input"  placeholder="password"/>
        </div>
        <div class="row usernam username_config">
            <div class="col-md-4">
                <button class="login__btn">Sign in</button>
            </div>
            <div class="col-md-2">
                <small>Or</small>
            </div>
            <div class="col-md-6">
                <button class="google__btn"> <img src="https://img.icons8.com/fluency/512/google-logo.png" alt=""> Sign in with Google</button>
            </div>
            
        </div>
      </form>
    </div>
    <div class="col-md-4 login-card__right">
      <img src="../../../../assets/images/lock1.svg" alt="" />
    </div>
  </div>
</div>
