<!-- right menu  -->
<div class="col-md-10 profile__right">
    <div class="row search__bar">
      <div>
        <h4 class="profile__right-title">Users and albums</h4>
      </div>
    </div>
    <div class="div row">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Posts From</th>
            <th>Albums</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="row__info">
            <td class="first__td">
              <img src="../../../../assets/images/africanMan.png" alt="" />
              <div class="user__info">
                <p>
                  Daniel Maina <br />
                  <small>@mainadanielwachira</small>
                </p>
              </div>
            </td>
            <td class="text-light">12</td>
            <td>
              <a href="#">View</a>
            </td>
          </tr>
          <tr class="row__info">
            <td class="first__td">
              <img src="../../../../assets/images/africanMan.png" alt="" />
              <div class="user__info">
                <p>
                  Daniel Maina <br />
                  <small>@mainadanielwachira</small>
                </p>
              </div>
            </td>
            <td class="text-light">23</td>
            <td>
              <a href="#">View</a>
            </td>
          </tr>
          <tr class="row__info">
            <td class="first__td">
              <img src="../../../../assets/images/africanMan1.png" alt="" />
              <div class="user__info">
                <p>
                  Daniel Maina <br />
                  <small>@mainadanielwachira</small>
                </p>
              </div>
            </td>
            <td class="text-light">1</td>
            <td>
              <a href="#">View</a>
            </td>
          </tr>
          <tr class="row__info">
            <td class="first__td">
              <img src="../../../../assets/images/africanMan1.png" alt="" />
              <div class="user__info">
                <p>
                  Daniel Maina <br />
                  <small>@mainadanielwachira</small>
                </p>
              </div>
            </td>
            <td class="text-light">1</td>
            <td>
              <a href="#">View</a>
            </td>
          </tr>
          <tr class="row__info">
            <td class="first__td">
              <img src="../../../../assets/images/africanMan1.png" alt="" />
              <div class="user__info">
                <p>
                  Daniel Maina <br />
                  <small>@mainadanielwachira</small>
                </p>
              </div>
            </td>
            <td class="text-light">1</td>
            <td>
              <a href="#">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>