<!-- right menu  -->

<div class="col-md-10 profile__right">
  <div class="div row">
    <div class="text-center spinner">
      <img
        *ngIf="spinner"
        src="../../../../assets/images/spinner2.svg"
        alt=""
      />
    </div>
    <!-- table start  -->
    <table *ngIf="show" class="table table-responsive table-borderless">
      <thead>
        <tr>
          <th>Posts From</th>
          <th>Albums</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <!-- loop will start here  -->

        <ng-container *ngFor="let user of userInfo">
          <tr class="row__info">
            <td class="first__td">
              <img
                src="https://img.freepik.com/free-photo/3d-rendering-zoom-call-avatar_23-2149556785.jpg?w=900&t=st=1674638679~exp=1674639279~hmac=9b0c5af0e741ef8a44ef5ad76916865f66a448a174fd896c43c8e2e2b64a8b6f"
                alt=""
              />
              <div class="user__info">
                <p>
                  {{ user.name }} <br />
                  <small>{{ user.email }}</small>
                </p>
              </div>
            </td>
            <td class="text-light">{{ Noalbums }}</td>
            <td>
              <a [routerLink]="['/profile/user', user.id]">View</a>
            </td>
          </tr>

          <!-- loop will end here  -->
        </ng-container>
      </tbody>
    </table>
    <!-- end of the table  -->
  </div>
</div>
