
.header{
    height: 10vh;
  background-color: #0A0726;
    padding-top: 0.5rem;
    margin-bottom: 1rem;

    .container{
        .container-fluid{
            .navbar-brand{
                margin-right: 2rem;
                .navbar-brand__text{
                    font-weight: bold;
                    font-size: 25px;
                    letter-spacing: 0.1rem;
                    .u{
                        color: white;
                        font-weight: 900;
                        font-size: 36px;
                    }
                    .r{
                        color: white;
                    }
                    .dot{
                        font-weight: 900;
                        font-size: 32px;
                        color: aqua;
                    }
                    .g{
                        color: whitesmoke;
                    }
                }
            }
            .navbar__collapse{
                // font-weight:;
                font-size: 16px;
                letter-spacing: 0.1rem;
                color: white !important;
                .home__link{
                    color: rgb(254,112,51);
                }
                .navbar__right{
                    .profile__total_info{
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;
                        justify-content: center;
                       
                        .profile__img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: white;
                            img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            border:1.5px solid rgb(254,112,51)
                            }
                            
                        }
                        .profile__info{
                            padding-top: 1.2rem;
                            p{
                                color: white;
                                font-size: 11px;
    
                                small{
                                    color: gray;
                                    
                                }
                            }
                        }
                       
                    }
                    .logout__btn{
                       color: whitesmoke;
                       background-color:#10142D ;
                       padding: 0.5rem 2rem;
                       border: none;
                       &:hover{
                        color: #FB7F4A;
                       }
                    }
                   
                    .loginbtn{
                        border-radius: 60px;
                        border: 1px solid white;
                        padding: 0.5rem 3rem;
                        color:white;
                        transition: all 0.3s;
                        
                        &:hover{
                            background-color:rgb(254,112,51);
                            color: white;
                            border: none;
                             border-radius: 2px;
                        }
                    }
                    .registerBtn{
                        color: white;
                        padding: 0.5rem 3rem;
                        background-color: rgb(254,112,51);
                        border-radius: 60px !important;
                        transition: all 0.5s;
                        &:hover{
                            background-color: transparent;
                            border: 1px solid white !important;
                            color :rgb(254,112,51) !important;
                        }
                }
            }
          
        }
    }
    
}
}