<div class="container single-album">
    <div class="row">
        <div class="col-md-2">
            <button class="btn" routerLink="/profile/user">Go back</button>
        </div>
        
    </div>
  <div class="row">
    <h4 class="text-light">Serengeti Album</h4>
  </div>
  <div class="row">
    <!-- the loop begins here  -->
    <div class="col-md-2" routerLink="/profile/pic">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-head">
          <img
            class="img-fluid"
            src="../../../../assets/images/africanMan1.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- the end of the loop  -->
  </div>
</div>
