.hero-section {
  height: 81vh;
  background: url(../../../assets/images/bubblebg.png);
  // background-color: red;

  // background-position: bottom;
  width: 100%;

  .row {
    margin-top: 3rem;
    .hero__text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 81vh;

      .hero-section__first {
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 60px;
        letter-spacing: 0.1rem;

        @media only screen and (max-width: 600px) {
          font-size: 30px;
        }
        @media only screen and (max-width: 1024px) {
          font-size: 30px;
         
        }
      }
      p {
        margin-left:2.5rem;
        color: #fe7033;
        opacity: 0.7;
        @media only screen and (max-width: 600px) {
          margin-left: 1rem;
        }
        @media only screen and (max-width: 1024px) {
          margin-left: 1rem;
          
        }
      }
      .hero-section__btns {
        display: flex;
        flex-direction: row !important;
        gap: 1rem;
        margin-top: 3rem;
        button {
          padding: 0.5rem 5rem;

          background-color: transparent;
          color: white;
          @media only screen and (max-width: 600px) {
            padding: 0.3rem 3rem;
            font-size: 13px;
          }
        }
        .btn__album1 {
          border-color: white;
          color: #fe7033;
          border-radius: 60px;
        }
        .btn__album2 {
          border-color: #fe7033;
          border-radius: 70px;
          @media only screen and (max-width: 600px) {
            
          }
        }
      }
      .blobtop {
        width: 70px;
        height: 40px;
        // background-color:red;

        align-self: flex-start !important;
      }
    }
    .hero__right {
  margin-top: 7rem;
      .hero__image {
        object-fit: cover;
        width: auto;
        height: 90%;
        margin-left: -5rem;
        @media only screen and (max-width: 1024px) {
          height: 70%;
          margin-left: -4rem;
        }
        @media only screen and (max-width: 1280px) {
          height: 70%;
          margin-left: -4rem;
        }
       
      }
      @media only screen and (max-width: 600px) {
        display: none;
      }
      @media only screen and (max-width: 768px) {
        display: none; 
      }
      
      @media only screen and (max-width: 820px) {
        display: none;
      }
      @media only screen and (max-width: 912px) {
        display: none;
      }
      @media only screen and (max-width: 912px) {
        display: none;
      }
      
      
    }
    @media only screen and (max-width: 912px) {
      
    }
  }
  @media only screen and (max-width: 600px) {
    width: 90vw;
  }
  
  
}

