<div class="container-fluid profile">
  <div class="row">
    <!-- the left navigation menu  -->
    <div class="col-md-2 profile__left">
      <!-- <div class="profile__left-navigation">
        <img src="../../../../assets/images/speed.png" alt="" />
        <a href="#">Dashboard</a>
      </div> -->
      <div class="profile__left-navigation" routerLink="/profile/users">
        <img src="../../../../assets/images/people1.png" alt="" />
        <a>Users</a>
      </div>
      <!-- <div class="profile__left-navigation" routerLink="/profile/albums">
        <img src="../../../../assets/images/album2.png" alt="" />
        <a>Albums</a>
      </div> -->
    </div>
    <!-- end of the navigation menu  -->

    <div class="col-md-10 profile_right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
