.profile {
  margin-top: 3rem;
  .profile__left {
    height: 90vh;
    margin-top: 2rem;
    border-right: 1px solid #fb7f4a;

    .profile__left-navigation {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      align-items: center;
      margin-bottom: 3rem;
      border: 1px solid #425466;
      padding: 0.3rem 2rem;
      transition: all 0.5;

      &:hover {
        border: 1px solid #fb7f4a;
        color: #fb7f4a !important;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        width: 100%;
        &:hover {
          color: #fb7f4a !important;
        }
      }
    }
  }
}
