.profile {
  margin-top: 3rem;
  .profile__left {
    height: 90vh;
    margin-top: 2rem;
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;

    .profile__left-navigation {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      align-items: center;
      margin-bottom: 3rem;
      border: 1px solid #425466;
      padding: 0.3rem 2rem;
      transition: all 0.5;
      

      &:hover {
        border: 1px solid #fb7f4a;
        color: #fb7f4a !important;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        width: 100%;
        &:hover {
          color: #fb7f4a !important;
        }
      }
      
      // media query 
      @media only screen and (max-width: 600px) {
       
        border-right:1px solidl #fb7f4a;;
        font-size: 14px;
        a{
          display: none;
        }
        img{
          height: 20px;
          width: 20px;
          object-fit: cover;
          
        }
      }
      @media only screen and (max-width: 820px) {
        font-size: 14px;
        a{
          display: none;
        }
        img{
          height: 20px;
          width: 20px;
          object-fit: cover;
          
        }
      }
      // end of media query 
       // media query
       @media only screen and (max-width: 1024px) {
        font-size: 14px;
      justify-content: flex-start;
      margin-top: 3rem;
        img{
          height: 20px;
          width: 20px;
          object-fit: cover;
          
        }
      }
      // end of media query
    }

     // media query 
     @media only screen and (max-width: 600px) {
      margin-top:3rem;
      height: 10vh;
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
      align-items: center;
      justify-content: center;
      padding: 0;
     }
     // end of media query 
  }
}
